body{
	scroll-behavior: smooth;
    font-family: 'Staatliches', cursive;
   font-family: 'Source Code Pro', monospace;
	font-family: 'Raleway', sans-serif;
	font-family: 'Courgette', cursive;
    font-family: 'Jost', sans-serif;
}
.material-scrolltop.reveal:focus{
    outline: none;
}
.material-scrolltop.reveal {
    width: 50px;
    height: 50px;
    background: #ff468f;

}
.sec-padding{
	padding:70px 0px;
}
 /*rspnsive nav*/

.bg-light {
   
   background-color:#615f6bde !important;;
}

 /* .navbar-dark .navbar-brand { */
    /* color: #00ffe7; */
/* } */
 .navbar-brand {
    font-size: 20px;
    font-weight: 800;
 	color: gray;
   font-family: 'Source Code Pro', monospace;  
    margin-left: 5%;

}
 .navbar-brand span{
 	color: #ffe300;;
 }
 .navbar-nav {
    margin-left: 55%;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    margin-left: 10px;
    font-weight: 400;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar-dark .navbar-nav 
.nav-link:hover{
  color:#ff468f;
}
.active{
	color:blue;
}
/*header section end*/

/*header slogan Start*/

.header-slogan{
	background-color:#000;
	background-image:url('assets/img/header-bg.png');
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding:100px 0px;
	background-attachment:fixed;
	color:#000;
  overflow: hidden;
}
.header-img img{
    width: 90%;
    margin-left:8%; 
}

.header-contant{
	margin-top: 25%;
}
.header-contant h1 {
  font-size: 70px;
  font-weight: 600;
  font-family: 'Courgette', cursive;

}
.header-contant h2 {
  font-size: 60px;
  color: #ff468f;
  font-weight: 700;
  font-family: 'Courgette', cursive;

}
.head-btn {
    margin: 40px 0px 0px 60px;
}
.head-btn button {
    padding: 6px 30px;
    font-size: 18px;
    font-weight: 600;
}
.type{
  font-weight: 600;
  opacity: .9;
}

.social-icon {
  margin-left: 15%;
  margin-top: 5%;
}
.social-icon a {
  font-size: 20px;
  margin-left: 3%;
  color:#000;
  opacity:.8;

}
.social-icon a:hover{
  color:#ff468f;
}
/*header slogan end*/

/* about-sec start*/
.about-sec{
	background-image:url('assets/img/biography-bg.png');
	height:100vh;
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	overflow: hidden;
	padding:60px 0px;

}
.about-img{
	margin-left: 18px; 
  margin-top:17%; 
}
.about-img img {
    /*width: 90%;*/
    max-width: 90%;
    /*box-shadow: 1px 1px 7px 0px;*/
    /*border: 2px solid #ff468f8a;*/
}
.about-contant{
	margin-top: 12%;
}
.about-contant h1 {
  font-size: 50px;
  font-weight: 500;
}
.about-contant p {
  font-size: 18px;
  opacity: .7;
 
  border-left: 4px solid #ff468f;;
}


 /*about-sec  end*/
 
 /*prg section start*/
.prg-section{
background-image:url('assets/img/footer-bg.png');
	height:100vh;
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	overflow: hidden;
	padding:60px 0px;
}
.prg-head h1 {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
}
.prg-main p {
    width: 90%;
    font-size: 14px;
}
.prg-ber {
  width: 84%;
  background: #fff;
  padding: 5px 6px  8px;;
  border-bottom: 3px solid#ff468f;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px;
  margin-bottom:20px;
  transition: .3s; 
}
.prg-ber:hover{
  box-shadow: 0px 0px 10px 0px;
  border-bottom: 4px solid tomato;
  cursor:pointer;
}

.prg-ber h5 {
    color: #ff468f;
    margin-left: 10px;
    font-size: 20px;
    /*font-weight: 600;*/
   font-family: 'Source Code Pro', monospace;
}

.prg-img img {
    width: 100%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px;
    transition: .5s;
}
.prg-img img:hover{
  box-shadow: 0px 0px 8px 0px;
    cursor:pointer;


}


 /*prg section END*/









/*portfolio section section start*/

.portfolio {
  background:#fff;
  padding: 50px 20px;
	overflow: hidden;

}

.prt-head h1 {
  font-size: 45px;
  font-weight: 600;
  color: #000;
  /* text-transform: uppercase; */
  opacity: .8;
  margin-bottom: 30px;
  position: relative;

}
/* .prt-head h1:after {
  position: absolute;
  content: '';
  width: 80px;
  height: 2px;
  background-color: #000;
  top:55px;
  left: 39%;
} */
.c4-izmir {
  cursor: pointer;
  margin-top: 30px;
}

.inside-img h2 {
  font-size: 36px;
  font-weight: 500;
}

.img-bottom h2 {
  text-align: center;
  color: gray;
  font-weight: 600;
}


/*portfolio section section END*/

 /*image section end*/

/* 
 /* slidr */
 /* .slider-section {
  width: 90%;
  margin-left: 58px;
  padding: 50px 0px;
  display: block;
} */
 /* slidr */ */




.project-mind{
  padding: 70px 0px;
  background: #fff;
}

.project-section h1{
	color:#000;
	font-size: 44px;
	font-weight: 500;
	opacity: 0.8;
	text-transform:uppercase;

}
.count-head{
	margin-top: 70px;
	font-size: 25px;
	font-weight: 400;
  text-align: center;
  color:gray;

}
.counter{
	font-weight: 400;
	font-size: 50px;
	color:#ff468f;
	text-align: center;
}

.project-section h2{
   opacity:0.4;	
}
.project-section a{
	color: #fff;
	border-radius: 2px;
	font-weight: 600;
	background:#ff468f;
	padding:8px 18px;
	text-transform:uppercase;
	text-decoration: none;
}
.project-section a:hover{
	background:#000;
}
.get-btn{
	margin-top: 30px;	
}
.project-section p{
	font-weight:600;
	opacity: 0.7;
}
/*project section end*/


/*content secton start*/
.head-content{
	background:#fff;
	padding: 70px 0px; 
}
.head-content h1{
	font-size: 40px;
	font-weight: 500;
	opacity: .9;
}
.head-content p{
	text-align: center;
    width: 67%;
    margin-left: 15%;
}
.content-section{
	margin: 70px 0px;
}
.content-box i {
  font-size: 38px;
  color: rebeccapurple;
  float: left;
  margin-right: 28px;
}
.single-cbx {
    margin-left: 74px;
    margin-bottom: 25px;
}
.single-cbx h3 {
  font-size: 28px;
  font-weight: 600;
  opacity: .8;
}
/*content secton End*/

/*footer section start*/
footer{
	background-color:#000;
	background-image:url('assets/img/last.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	position:relative;
	z-index: 1;
	padding: 100px 0px;
	/*color:#fff;*/
	background-attachment: fixed;
}
footer:after{
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ff468f;
	top:0px;
	left: 0px;
  opacity: .7;
  z-index: -1;

}

.whith-area {
    background: #fff;
    padding: 3% 0%;
    width: 75%;
    margin-left: 10%;
    border-radius: 16px;

    /*margin-top:%; */
}
.massage-image img {
    width: 52%;
    margin-left: 90px;
    margin-top: 13%;
}

.fst-input {
    background: #b0aeae94;
    border-radius: 25px;
    width: 85%;
    margin-bottom:2%; 

}
.sec-input {
    background: #b0aeae94;
    border-radius: 25px;
    width: 85%;
    margin-bottom:2%; 
    color: #000;
}
.msg-input {
    background: #b0aeae94;
    border-radius: 18px;
    width: 85%;
    margin-bottom:2%; 
}
.footer-btn {
    background: #ff468f;
    padding: 1% 38%;
    border: none;
    border-radius: 15px;
    color: #fff;
    margin-top: 3% ;
    font-weight: 600;

}
.footer-btn:hover{
  background: tomato;
    color: #000;

}



/*last*/
.dvlp-section{
	background-color:#fff;
	padding: 30px 0px;
}
.cc-name span{
   color: lime;
   font-weight: 500;
}
.cc-name h4{
   font-weight:300;
}