@media only screen and (min-width:1000px) and (max-width:1200px){
    .navbar-nav {
        margin-left: 52%;
    }
}

/* tablet layout */
@media only screen and (min-width:200px) and (max-width:991px){
    .navbar-nav {
        margin-left: 42%;
    }
 
    .header-slogan{
        height:50vh;
       
    }

.header-contant {
        margin-top: 15%;
}
.header-img img {
    width: 90%;
    margin-left: 16%;
    margin-top: 14%;
}
.header-contant h1 {
	font-size: 54px;
}
.header-contant h2 {
	font-size: 50px;
}
.header-contant h4 {
    font-size: 18px;
}
/* about */
.about-sec{
	height:50vh;
}
.about-img img{
    width: 82%;
    margin-top:7%;
}
.about-contant {
    margin-top: -9%;
}
.about-contant h1 {
    font-size: 38px;
}
.about-contant p {
    font-size: 15px;
    width: 100%;
}
 /*prg section start*/
 .prg-section{
 height:70vh;  
 }
.prt-head h1 {
 font-size: 38px;
}
.prg-main {
    margin-left: 16%;
}
.prg-img img {
    width: 74%;
    margin-left: 15%;
}
.img-header h1 {
    font-weight: 600;
    font-size: 45px;
}
/* .prg-img img:hover{
  box-shadow: 0px 0px 8px 0px;
    width: 78%;
 */

}

.img-bottom h2 {
	font-size: 22px;
}
.project-section h1 {
     font-size: 33px;
}
.project-section h2 {
	opacity: 0.4;
	font-size: 25px;
}
.project-section p {
	font-size: 13px;
}
.count-head {
	margin-top: 29px;
	font-size: 18px;
}
.counter {
	font-size: 42px;
}

.project-mind {
	padding: 15px 0px;
}

footer {
	/* height: 50vh; */
}
.massage-image img {
	width: 54%;
	margin-left: 80px;
	margin-top: 39%;
}

}
 


/* mobile layout */

/* tablet layout */
@media only screen and (min-width:200px) and (max-width:480px){
    
.header-contant h1 {
  font-size: 56px;
  font-weight: 600;

}
.header-contant h2 {
  font-size: 48px;
  font-weight: 700;
  

}
.head-btn button {
    padding: 4px 25px;
    font-size: 16px;
    font-weight: 500;
}



.about-img img {
    width: 60%;
    margin-left: 14%;
    /*height: 250px;*/
}
.about-contant h1 {
    font-size: 36px;
    text-align: center;
}
.about-contant p {
    font-size: 15px;
    width: 98%;
    margin-left:1%;
}
.prg-main {
    margin-left: 10%;
}
.prg-head h1 {
    font-size: 38px;
   
    font-weight: 600;
}
.prg-main p {
    width: 100%;
    font-size: 14px;
    margin-right:5%; 
}

}