@media only screen and (min-width:1000px) and (max-width:1200px){
    .navbar-nav {
        margin-left: 52%;
    }
}

/* tablet layout */
@media only screen and (min-width:481px) and (max-width:991px){
    .navbar-nav {
        margin-left: 42%;
    }
 
    .header-slogan{
        height:60vh;
       
    }

.header-contant {
        margin-top: 15%;
}
.header-img img {
    width: 90%;
    margin-left: 10%;
    margin-top: 16%;
}
.header-contant h1 {
	font-size: 54px;
}
.header-contant h2 {
	font-size: 50px;
}
.header-contant h4 {
    font-size: 18px;
}
/* about */
.about-sec{
	height:50vh;
}
.about-img img{
    width: 82%;
    margin-top:7%;
}
.about-contant {
    margin-top: -9%;
}
.about-contant h1 {
    font-size: 38px;
}
.about-contant p {
    font-size: 15px;
    width: 100%;
}
 /*prg section start*/
 .prg-section{
 height:70vh;  
 }
.prt-head h1 {
 font-size: 38px;
}
.prg-main {
    margin-left: 16%;
}
.prg-img img {
    width: 74%;
    margin-left: 15%;
}
.img-header h1 {
    font-weight: 600;
    font-size: 45px;
}
.img-bottom h2 {
	font-size: 22px;
}


.project-section h1 {
     font-size: 33px;
}
.project-section h2 {
	opacity: 0.4;
	font-size: 25px;
}
.project-section p {
	font-size: 13px;
}
.count-head {
	margin-top: 29px;
	font-size: 18px;
}
.counter {
	font-size: 42px;
}

.project-mind {
	padding: 15px 0px;
}

footer {
	height: 50vh;
	padding: 80px 0px;
}
.massage-image img {
	width: 54%;
	margin-left: 80px;
	margin-top: 39%;
}

}
 


/* mobile layout */
@media only screen and (min-width:200px) and (max-width:480px){
.header-contant {
  margin-top: 4%;
}
.header-slogan {
  height: 100vh;
 }
.header-contant h1 {
  font-size: 42px;
  font-weight: 600;

}
.header-contant h2 {
  font-size: 36px;
  font-weight: 600;
}
.header-contant h4 {
    font-size: 15px;
}
.head-btn button {
    padding: 3px 18px;
    font-size: 15px;
    font-weight: 400;
    margin-left:0px;
}

.about-img img {
    width: 85%;
    margin-left: 20px;
}
.about-contant h1 {
    font-size: 28px;
    text-align: left;
    font-weight: 600;
}
.about-contant p {
    font-size: 13px;
    width: 95%;
    margin-left:1%;
}


.prg-section {
    height: 108vh;
}
.prg-img img {
    width: 76%;
    margin-left: 12%;
}
.prg-main {
    margin-left: 10%;
}
.prg-head h1 {
    font-size: 32px; 
    font-weight: 600;
}
.prg-main h2 {
	font-size: 19px;
	margin-top: 5%;
}
.prg-main p {
    width: 100%;
    font-size: 13px;
    margin-right:4%; 
}

.prg-ber {
	width: 90%;
	background: #fff;
	padding: 0px 1px 0px;
	border-bottom: 3px solid#ff468f;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px;
	margin-bottom: 17px;
	transition: .3s;
}
.prg-ber h5 {
	font-size: 15px;
	font-weight: 600;
}


.portfolio {
	padding: 18px 5px;
}
.prt-head h1 {
	font-size: 30px;
}
.img-bottom h2 {
	font-size: 21px;
}

.project-mind{
    padding: 20px 0px;
    background: #fff;
  }
  

.project-section h1 {
    font-size: 26px;
}
.project-section h2 {
   opacity: 0.4;
   font-size: 22px;
}
.project-section p {
   font-size: 12px;
}
.count-head {
   margin-top: 22px;
   font-size: 16px;
}
.counter {
   font-size: 38px;
}

.project-mind {
   padding: 15px 0px;
}
.head-content {
    padding: 0px 0px;
}

.head-content h1 {
	font-size: 30px;
}

.head-content p {
	width: 70%;
}
footer {
	height: 70vh;
    padding: 50px 0px;
}
.massage-image img {
	width: 36%;
	margin-left: 30%;
	margin-top: 1%;
}
.input-main h2 {
	font-size: 24px;
	text-align: center;
	opacity: 0.8;
}
.fst-input {
	width: 86%;
	margin-bottom: 3%;
}
form {
    margin-left: 10%;
}

.footer-btn {
    background: #ff468f;
    padding: 1% 32%;
    border: none;
    border-radius: 15px;
    color: #fff;
    margin-top: 3% ;
    font-weight: 500;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.cc-name span {
	color: lime;
	font-weight: 500;
	font-size: 13px;
}
.cc-name h4 {
	font-weight: 300;
	font-size: 10px;
}
.material-scrolltop.reveal {
	width: 35px;
	height: 35px;
	background: #ff468f;
}
.material-scrolltop span {
	display: block;
	font-size: 17px;
	color: #fff;
}
}


/* mini mobail for  */
/* 
@media only screen and (min-width:200px) and (max-width:376px){

    .header-contant {
        margin-top: 1%;
      }
      .header-slogan {
        height: 90vh;
    }
      .header-contant h1 {
        font-size: 38px;
        font-weight: 600;
      
      }
      .header-contant h2 {
        font-size: 32px;
        font-weight: 600;
      }
      .header-contant h4 {
          font-size: 13px;
      }
      .head-btn button {
          padding: 3px 18px;
          font-size: 15px;
          font-weight: 400;
          margin-left:0px;
      }
      .header-img img {
        width: 60%;
        margin-left: 16%;
        margin-top: 14%;
    }

} */